@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.bg-export {
  background-image: url("/img/export-bg-3.jpg");
  background-position: center;
}

.bg-export-2 {
  background-image: url("/img/export-bg-7.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* WebKit Scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar thumb */
  border-radius: 1px; /* Radius of the scrollbar thumb */
}

/* WebKit Scrollbar */
.hidden-scroll::-webkit-scrollbar {
  width: 0; /* Width of the scrollbar */
}

.hidden-scroll::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar thumb */
  border-radius: 1px; /* Radius of the scrollbar thumb */
}
